.card {
    background-color: #dfeaf7;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    border-radius: 12px;
  }
  
  .card img {
    width: 150px;
    height: 150px;
  }
  
  .card-title {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .card-text {
    font-size: 0.9rem;
    text-align: center;
  }